.git
.cache
**/*.class
*.md
!README*.md
README-secret.md
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
.cache
.idea
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
.env
.idea
venv
