<script type="text/javascript">
    const acceptFriendRequest = (friend_request_id,uiUpdateFunction)=>{
        $.ajax({
            type:'GET',
            dataType:'json',
            url:"{% url 'accept_friend_request' friend_request_id=53252623623632623  %}".replace('53252623623632623',friend_request_id),
            timeout:5000,
            success:function (data) {
                console.log('SUCCESS',data)
                if (data['response'] === 'Friend request accepted.'){

                }else if(data['response'] != null){
                    alert(data['response'])
                }
            },
            error:function (data) {
                console.log('ERROR...',data)
                alert('something went wrong.')
            },
            complete:function (data) {
                uiUpdateFunction()
            }


        });
    }
</script>